# Maintainers 
config/maintainers.json @exercism/maintainers-admin

# Code owners
.github/CODEOWNERS      @exercism/maintainers-admin

# Changes to `fetch-configlet` should be made in the `exercism/configlet` repo
bin/fetch-configlet     @exercism/maintainers-admin
