*.beam
*.pyc
*.swp
.DS_Store
.ropeproject
tmp
bin/configlet
bin/configlet.exe
.idea/
.vscode/
.mypy_cache/
.cache
.pytest_cache
__pycache__
.venv
bin/canonical_data_syncer
bin/canonical_data_syncer.exe
