sudo: false

language: python

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

install:
  - pip install flake8

before_script:
  - flake8 ./exercises/ --max-line-length=99 --select=E,W

script:
  - ./test/check-exercises.py
  - ./bin/fetch-configlet
  - ./bin/configlet .
