{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases[0]["cases"] -%}
    {% set description = case["description"] | to_snake -%}
    {% set value = case["input"]["puzzle"] -%}
    {% if value|length > 100 -%}
    # Reason to skip this test at https://github.com/exercism/python/pull/1358
    @unittest.skip("extra-credit")
    {% endif %}
    def test_{{ description }}(self):
        {% set expected = case["expected"] -%}
        self.assertEqual({{ case["property"] }}("{{ value }}"), {{ expected }})

    {% endfor %}

{{ macros.footer() }}
