{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases[0]["cases"] -%}
    def test_{{ case["description"] | to_snake }}(self):
        {% set value = case["input"]["puzzle"] -%}
        {% set expected = case["expected"] -%}
        self.assertEqual({{ case["property"] }}("{{ value }}"), {{ expected }})

    {% endfor %}

{{ macros.footer() }}
