{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header(["equilateral", "isosceles", "scalene"]) }}

{% for case in cases -%}
class {{ case["description"] | camel_case }}Test(unittest.TestCase):
    {% for case in case["cases"] %}
    def test_{{ case["description"] | to_snake }}(self):
        self.assertIs({{ case["property"] }}({{ case["input"]["sides"] }}), {{ case["expected"] }})

    {% endfor %}
{% endfor %}
{{ macros.footer() }}
