{%- import "generator_macros.j2" as macros -%}
{%- macro test_call(case) %}
            {{ exercise | to_snake }}.{{ case["property"] }}(
                {% for arg in case["input"].values() -%}
                "{{ arg }}",
                {% endfor %}
            )
{% endmacro -%}
import unittest

import {{ exercise | to_snake }}

# Tests adapted from `problem-specifications//canonical-data.json` @ v{{ version }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    def test_{{ case["description"] | to_snake }}(self):
        {%- if case is error_case %}
        with self.assertRaisesWithMessage(ValueError):
            {{- test_call(case) }}
        {%- else %}
        self.assertEqual(
            {{- test_call(case) }},
            {{ case["expected"] }}
        )
        {%- endif %}
    {% endfor %}

    {{ macros.utility() }}


if __name__ == '__main__':
    unittest.main()
