{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    def test_{{ case["description"] | to_snake }}(self):
        {%- set question = case["input"]["question"] %}
        value = "{{ case["input"]["question"] }}"
        {%- if case is error_case %}
        with self.assertRaisesWithMessage(ValueError):
            {{ case["property"] }}("{{ question }}")
        {%- else %}
        self.assertEqual({{ case["property"] }}("{{ question }}"), {{ case["expected"] }})
        {%- endif %}

    {% endfor %}

{{ macros.footer(has_error_case) }}