{%- import "generator_macros.j2" as macros with context -%}

{%- macro func_call(case) -%}
    {{ case["property"] }}(
        {% for arg in case["input"].values() %}
            {{ arg }}{{- "," if not loop.last }}
        {% endfor %}
    )
{%- endmacro -%}

{%- macro test_case(case) -%}
    {%- set expected = case["expected"] -%}
    def test_{{ case["description"] | to_snake }}(self):
    {%- if case is error_case %}
        with self.assertRaisesWithMessage(ValueError):
            {{ func_call(case) }}
    {%- else %}
        self.assertEqual({{ func_call(case) }}, {{ expected }})
    {%- endif %}
{% endmacro %}

{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    {{ test_case(case) }}
    {% endfor -%}

{{ macros.footer() }}
