{%- import "generator_macros.j2" as macros with context -%}
from datetime import datetime
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    {% set input = case["input"]["moment"] | parse_datetime(strip_module=true) -%}
    {% set expected = case["expected"] | parse_datetime(strip_module=true) -%}
    def test_{{ case["description"] | to_snake }}(self):
        self.assertEqual({{ case["property"] }}({{ input }}), {{ expected }})
    {% endfor %}


{{ macros.footer() }}
