{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header()}}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for casegroup in cases -%}
    {% for case in casegroup["cases"] -%}
    {%- set input = case["input"] -%}
    def test_{{ case["description"] | to_snake }}(self):
        self.assertEqual(
            {{ case["property"] | to_snake }}({{ input["startVerse"] }}, {{ input["endVerse"] }}),
            {{ case["expected"] }}
        )
    {% endfor %}
    {% endfor %}

{{ macros.footer() }}
