{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header(imports=["proverb"]) }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {%- macro test_case(case) -%}
        {% set input = case["input"] -%}
        def test_{{ case["description"] | to_snake }}(self):
            input_data = {{ input["strings"] }}
            self.assertEqual(proverb(*input_data,
                {%- if input["extra"] -%}
                    qualifier="{{ input["extra"]["qualifier"] }}"
                {%- else -%}
                    qualifier=None
                {%- endif -%}
                ),{{ case["expected"] }}) 
    {%- endmacro -%}
    
    {% for case in cases -%}
        {{ test_case(case) }}
    {% endfor %}

    # Track-specific tests

    {% for cases in additional_cases -%}
    {{ test_case(cases) }}
    {% endfor %}

