{%- import "generator_macros.j2" as macros with context -%}
from datetime import datetime
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for supercase in cases -%}
    {% for case in supercase["cases"] -%}
    {% set input = case["input"]["moment"] -%}
    {% set expected = case["expected"] -%}
    def test_{{ case["description"] | to_snake }}(self):
        self.assertEqual({{ case["property"] }}(
            datetime.fromisoformat("{{ input }}")
        ), datetime.fromisoformat("{{ expected }}"))
    {% endfor %}
    {% endfor %}

{{ macros.footer() }}
