{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases %}
    def test_{{ case["description"] | to_snake }}(self):
        {%- set letter = case["input"]["letter"] %}
        {%- set expected = case["expected"] %}
        result = {{expected}}
        self.assertEqual({{case["property"]}}("{{letter}}"), result)
    {% endfor %}

{{ macros.footer() }}