{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header()}}

{% macro test_case(case) -%}
    def test_{{ case["description"] | to_snake }}(self):
        {%- set question = case["input"]["question"] %}
        {%- if case is error_case %}
        with self.assertRaises(ValueError) as err:
            {{ case["property"] }}("{{ question }}")
        self.assertEqual(type(err.exception), ValueError)
        self.assertEqual(err.exception.args[0], "{{ case["expected"]["error"] }}")
        {%- else %}
        self.assertEqual({{ case["property"] }}("{{ question }}"), {{ case["expected"] }})
        {%- endif %}
{%- endmacro %}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    {{ test_case(case) }}
    {% endfor %}
    {% if additional_cases | length -%}

    # Additional tests for this track

    {% for case in additional_cases -%}
    {{ test_case(case) }}
    {% endfor %}
    {%- endif %}
