{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases %}
        def test_{{ case["description"] | to_snake }}(self):
            {%- set text = case["input"]["text"] %}
            {%- set shiftKey = case["input"]["shiftKey"] %}
            {%- set expected = case["expected"] %}
            self.assertEqual({{ case["property"] }}("{{ text }}", {{ shiftKey }}), "{{ expected }}")
            
        {% endfor %}

{{ macros.footer() }}