{% import "generator_macros.j2" as macros with context %}
{{ macros.canonical_ref() }}

{{ macros.header() }}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases %}
    def test_{{ case.description | to_snake }}(self):
        matrix =  [
            {% for row in case.input.matrix %}
            {{ row }},
            {% endfor %}
        ]
        expected = [
            {% for row in case.expected %}
            {{ row }},
            {% endfor %}
        ]
        self.assertEqual(
            tick(matrix), expected
        )
    {% endfor %}
