{%- import "generator_macros.j2" as macros with context -%}
{%- macro conditional(s) -%}
{%- set condition_start = s.find("if ") + 3 -%}
{%- set condition_end = s.find(" then ") -%}
{%- set condition = s[condition_start : condition_end] -%}
{%- set if_true_start = condition_end + 6 -%}
{%- set if_true_end = s.find(" else ") -%}
{%- set if_true = s[if_true_start : if_true_end] -%}
{%- set if_false_start = if_true_end + 6 -%}
{%- set if_false = s[if_false_start :] -%}
{{ if_true }} if {{ condition }} else {{ if_false }}
{%- endmacro -%}

from functools import partial
{{ macros.header(imports=['InputCell', 'ComputeCell']) }}
{% set types = {'input': 'InputCell', 'compute': 'ComputeCell'} -%}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    {% set cells = case['input']['cells'] -%}
    {% set operations = case['input']['operations'] -%}
    def test_{{ case["description"] | to_snake }}(self):
        {% set expect_callbacks_not_to_be_called = [] -%}
        {% for cell in cells -%}
        {% set name = cell['name']|replace('input', 'input_') -%}
        {% if cell['type'] == 'input' -%}
        {{ name }} = {{ types[cell['type']] }}({{ cell['initial_value'] }})
        {% elif cell['type'] == 'compute' -%}
        {% if 'if' in cell['compute_function'] -%}
        {{ name }} = {{ types[cell['type']] }}([{{ cell['inputs']|join(', ')|replace('input', 'input_') }}], lambda inputs: {{ conditional(cell['compute_function']) }})
        {% else -%}
        {{ name }} = {{ types[cell['type']] }}([{{ cell['inputs']|join(', ')|replace('input', 'input_') }}], lambda inputs: {{ cell['compute_function'] }})
        {% endif -%}
        {% endif -%}

        {% endfor -%}

        {% set assignment_block, callbacks_observers = plugins["add_callbacks"](case) -%}
        {% if assignment_block != '' %}
        {{ assignment_block }}
        {% endif -%}
        {% for callback, observer in callbacks_observers.items() -%}
        {{ callback }} = self.callback_factory({{ observer }})
        {% endfor -%}

        {% for operation in operations -%}
        {% if operation['type'] == 'expect_cell_value' -%}
        self.assertEqual({{ operation['cell']|replace('input', 'input_') }}.value, {{ operation.value }})
        {% elif operation['type'] == 'set_value' -%}
        {{ operation['cell']|replace('input', 'input_') }}.value = {{ operation.value }}
        {% if operation['expect_callbacks'] -%}
        {% for expect_callback, value in operation['expect_callbacks'].items() -%}
        self.assertEqual({{ callbacks_observers[expect_callback] }}[-1], {{ value }})
        {% endfor -%}
        {% endif -%}
        {% if operation['expect_callbacks_not_to_be_called'] -%}
        {% for not_expect_callback in operation['expect_callbacks_not_to_be_called'] -%}
        self.assertEqual({{ callbacks_observers[not_expect_callback] }}, [])
        {% endfor -%}
        {% endif -%}
        {% elif operation['type'] == 'add_callback' -%}
        {{ operation['cell']|replace('input', 'input_') }}.add_callback({{ operation.name }})
        {% elif operation['type'] == 'remove_callback' -%}
        {{ operation['cell']|replace('input', 'input_') }}.remove_callback({{ operation.name }})
        {% else -%}
        {% endif -%}

        {% endfor %}

    {% endfor %}
    # Utility functions.
    def callback_factory(self, observer):
        def callback(observer, value):
            observer.append(value)

        return partial(callback, observer)


{{ macros.footer() }}
