{%- import "generator_macros.j2" as macros with context -%}
{{ macros.header()}}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases -%}
    {%- set input = case["input"] -%}
    def test_{{ case["description"] | to_snake }}(self):
        self.assertEqual(
            {{ case["property"] | to_snake }}({{ input["hands"] }}), {{ case["expected"] }})
    {% endfor %}

{{ macros.footer() }}
