name: "Issue Commenter"
on:
  issues:
    types: [opened]

jobs:
  comment-on-new-issue:
    runs-on: ubuntu-latest
    name: Comments for every NEW issue.
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Read issue-comment.md
        id: issue-comment
        uses: juliangruber/read-file-action@v1
        with:
          path: .github/issue-comment.md

      - name: Base comment
        uses: jd-0001/gh-action-comment-on-new-issue@v2.0.3
        with:
          message: "${{ steps.issue-comment.outputs.content }}"
          ignore-label: ":anger: prickle"
